site_name: 'T.L. Swetnam'
site_description: 'professional pages for T.L. Swetnam'
site_author: 'Tyson L Swetnam'
site_url: https://tysonswetnam.com

# Repository
repo_name: tyson-swetnam
repo_url: https://github.com/tyson-swetnam/home
edit_uri: edit/main/docs/
# Copyright
copyright: 'Copyright &copy; 2019-2025 Tyson Lee Swetnam'

# Page tree
nav:
  - Home: index.md
  - Blog:
    - blog/index.md
  - Research: 
    - Current: current_projects.md
    - Previous: previous_projects.md
    - Grants: awards.md
    - Publications: publications.md
    - ePublications: epubs.md
    - Talks: talks.md
    - Team Science: groups.md
  - Teaching: 
    - Classes: teaching.md
    - Advising & Mentoring: mentoring.md
  - Opportunities: jobs.md
  - Open Science: 
    - Open Data Sets: data.md
    - Open Code: code.md
  - CV: cv.md

# Configuration

theme:
  name: 'material'
  custom_dir: material/overrides
  # 404 page
  static_templates:
    - 404.html
  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true
  # Default values, taken from mkdocs_theme.yml
  language: en
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: home 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  font:
    text: Montserrat
    code: Regular
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.top
  favicon: 'assets/ua.ico'
  logo: 'assets/ua.png'

# Options
extra:
  social:
    - icon: fontawesome/brands/orcid
      link: https://orcid.org/0000-0002-6639-7181
    - icon: simple/googlescholar  
      link: https://scholar.google.com/citations?user=nanIeAYAAAAJ&hl=en
    - icon: fontawesome/brands/github
      link: https://github.com/tyson-swetnam/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/tswetnam
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/tyson-swetnam
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/u/tswetnam
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UC5xPt9KZHccC0ehMNEkINzQ
  analytics:
    provider: google
    property: G-NYETZFD8DN
  
# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_css:
  - stylesheets/extra.css
 
plugins:
    - blog:
        blog_dir: ./blog
        post_date_format: full
        archive: false
        archive_name: archive
        archive_url_format: "archive/{date}"
        archive_date_format: MMMM yyyy
        archive_toc: true
        post_url_format: "{date}/{slug}"
    - search
    - mkdocstrings
    - git-revision-date

